<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">   
    <title>Document</title>
</head>
<body class = "flex_row_center_center">
<div class= "container flex_column_center_center">
    <p1> login </p1>
    

    <form class = "flex_column_center_center"> 
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <button type="subbmit" > LOGIN </button>
    </form>
</div>
</body>
</html>